.carousel-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slide {
  min-width: 100%;
  transition: all 0.3s ease-in-out;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  z-index: 100;
}

.prev {
  left: 30%;
}

.next {
  right: 30%;
}
